*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    color: black;
}
.dark-mode{
    background-color: black;
    color: white;
}
#top-header{
    display: flex;
    gap: 2rem;
    background: #FFFFFF;
}
.logo-div a img{
    height: 23vh;
    margin-left: 1rem;
    margin-right: 3rem;
    margin-top: -1rem;
}
.navs{
    display: flex;
    gap: 2.5rem;
}
.navs .nav-item{
    list-style-type: none;
    margin-top: 2.5rem;
    color: #011276;
    font-family: sans-serif; 
    font-weight: bold;
}
.hoverNavs {
    display: inline-block;
    position: relative;
}
.hoverNavs:hover{
    color: #0087ca;
}
.nav-link:hover{
    color: #0087ca;
}
.dropdown-item:hover{
    color: #0087ca;
}
.hoverNavs::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hoverNavs:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.hoverNavsButton{
    background: orangered;
    color: #fff !important;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: -0.5rem;
}
.toggle-icon{
    display: none;
}
@media screen and (max-width: 600px) {
    .toggle-icon{
        display: block;
        margin-top: -1rem;
        margin-left: 1.5rem;
        font-size: 20px;
    }
    .logo-div a img{
        height: 20vh;
        margin-top: 0.2rem;
        margin-left: 4rem;
    }
    .navs{
        display: none;
    }
    #top-header{
        background: #FFFFFF;
    }
    button{
        border: none !important;
        outline: none !important;
    }
}