*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background: #FFFFFF;
    height: 16vh !important;
}
.offcanvas{
    z-index: 5000 !important;
}
.navbar-brand img{
    height: 15vh !important;
    margin-left: 2rem;
    margin-right: 5rem;
}
.nav-link{
    margin-right: 1rem !important;
    font-family: sans-serif !important;
    font-weight: bold !important;
    color: #011260 !important;
}
.mockupDiv{
    display: flex;
}
.imageMockupDiv img{
    height: 40vh;
    padding: 0.5rem;
}
.dropdown-item{
    font-family: sans-serif !important;
    font-weight: bold !important;
    color: #011260 !important;
}
.nav-link:hover{
    color: #6366f1 !important;
}
.dropdown-item:hover{
    color: #6366f1 !important;
}
.dropdown:hover .dropdown-menu {
    display: block !important;
}
.toggle-icon{
    display: none;
}
.ItemsDiv .dropdown-item{
    background: none !important;
}
.background-section{
    background: url("..//img/thi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    height: 100vh;
    padding: 1rem;
    width: 100% !important;
}
.background-section h1{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    padding-top: 12rem;
    font-size: 80px;
}
.background-section p{
    text-align: center;
    color: #fff;
    font-size: 25px;
}
.background-section a{
    background: #6366f1;
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    border-radius: 0.6rem;
    transition: 0.3s;
    box-shadow: rgba(0,0,0,0.4);
}
.background-section a:hover{
    background: blue;
    color: #fff;
}
.Notes{
    background: #FFFFFF;
    padding: 1rem;
    margin-top: 6rem !important;
}
.txt h1{
    font-family: Manrope, sans-serif;
    font-weight: bold;
    font-size: 45px;
}
.txt p{
    font-family: Manrope, sans-serif;
   font-size: 17px;
   color: lightslategray;
}
.image img{
    height: 100vh;
    width: 100%;
    border-radius: 2rem;
}
.txt a{
    background: #6366f1;
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    border-radius: 0.6rem;
    transition: 0.3s;
}
.txt a:hover{
    background: blue;
    color: #fff;
}
.services{
    background: lightgray;
    height: 100vh;
    padding: 1rem;
    margin-top: -6.5rem;
}
.services h1{
    font-family: Manrope, sans-serif;
    font-weight: bold;
    padding-top: 8.7rem;
}
.para{
    color: lightslategray ;
}
.see{
    text-decoration: none;
    border: 1px solid #6366f1;
    text-align: center;
    color: #6366f1;
    width: 20% !important;
    height: 10vh;
    padding: 1rem;
    border-radius: 0.6rem;
    margin-left: 10rem;
    transition: 0.3s;
}
.see:hover{
    border: none;
    background: #6366f1;
    color: #fff;
}
@media screen and (max-width:400px){
    .navbar{
        height: 11vh !important;
    }
    .navbar-brand img{
        margin-top: -1rem;
    }
    .imageMockupDiv img{
       display: none;
    }
    .toggle-icon{
        display: block;
        margin-top: -1.2rem;
    }
    .background-section h1{
        font-size: 35px;
    }
    .background-section p{
        font-size: 18px;
    }
}
@media screen and (max-width:600px){
    .navbar{
        height: 12vh !important;
    }
    .navbar-brand img{
        margin-top: -1rem;
    }
    .imageMockupDiv img{
       display: none;
    }
    .toggle-icon{
        display: block;
        margin-top: -1.2rem;
    }
    .background-section h1{
        font-size: 45px;
    }
    .background-section p{
        font-size: 18px;
    }
    .txt h1{
        text-align: center;
        font-size: 30px;
        margin-top: -2.9rem;
    }
    .txt p{
        text-align: center;
    }
    .image img{
        margin-top: 3.6rem;
    }
    .services h1{
        text-align: center;
    }
    .para{
        text-align: center;
    }
    .see{
        width: 35% !important;
    }
}