*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.offcanvas{
    z-index: 5000 !important;
}
.navbar-brand img{
    height: 15vh !important;
    margin-left: 2rem;
    margin-right: 5rem;
}
.nav-link{
    margin-right: 1rem !important;
    font-family: sans-serif !important;
    font-weight: bold !important;
    color: #011260 !important;
}
.mockupDiv{
    display: flex;
}
.imageMockupDiv img{
    height: 40vh;
    padding: 0.5rem;
}
.dropdown-item{
    font-family: sans-serif !important;
    font-weight: bold !important;
    color: #011260 !important;
}
.nav-link:hover{
    color: #6366f1 !important;
}
.dropdown-item:hover{
    color: #6366f1 !important;
}
.dropdown:hover .dropdown-menu {
    display: block !important;
}
.toggle-icon{
    display: none;
}
.ItemsDiv .dropdown-item{
    background: none !important;
}
.container-div{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 95px;
    color: #fff;
    margin-bottom: 50px;
}
.content a{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
}
.content a:hover{
    background-color: #fff;
    color: #000000;
}
.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    .background-clip{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .background-clip{
        width: auto;
        height: 100%;
    }
}
@media screen and (max-width:400px){
    .imageMockupDiv img{
       display: none;
    }
    .toggle-icon{
        display: block;
    }
}
@media screen and (max-width:600px){
    .imageMockupDiv img{
       display: none;
    }
    .toggle-icon{
        display: block;
    }
}